# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build artifacts
build/
dist/
*.spec

# Tauri build artifacts
ui-web/src-tauri/target/
ui-web/src-tauri/sidecars/

# Audio Temp Files & Models
temp/
bin/
*.mp3
*.wav

# DS_Store
.DS_Store

# Node modules
node_modules/
.nuxt/
.output/
